.choresText {
  color: orangered;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: start;
  padding-left: 10px;
}

.choresHeading {
  color: orangered;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  text-align: start;
  padding-left: 10px;
}
